
.a{
    background-color: #344e41;
}
.b{
    background-color: #e9edc9;
    border-radius: 5%;
    max-width: fit-content;
    max-height: fit-content;
    padding: 5%;
    

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
}
.button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    background-color: #4caf50;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #45a049;
  }
.abc{
    position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}
  
